<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>join</title>
</head>
<body>
    <h3>회원가입</h3>
    <hr />
    <!-- html 주석문 -->
    <form action="/join" method="POST">
        <p>아이디 : <input type="text" name="id" /></p>
        <p>암호 : <input type="password" name="pw" /></p>
        <p>암호확인 : <input type="password" /></p>
        <p>이름 : <input type="text" name="name" /></p>
        <p>나이 : <input type="text" name="age" /></p>
        <input type="submit" value="회원가입"/>
    </form>

</body>
</html>